@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.login-container {
    display: flex;
    width: 80%;
    height: 60%;
    max-width: 850px;
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.login-image {
    flex: 1;
    background-color: #ff8800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-image img {
    width: 100%;
    max-width: 390px;
    transition: all .3s ease;
}

.login-image img:hover {
    transform: scale(1.04);
}

.login-section {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.login-section h1 {
    font-size: 24px;
    margin-bottom: 1%;
}

.login-section h2 {
    font-size: 13.4px;
    font-weight: 500;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.form-box label {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.form-box input {
    margin-top: 1%;
    padding-left: 4%;
    height: 40px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: #eeeeee;
    transition: all .3s ease;
}

.form-box input:hover {
    cursor: pointer;
}

.form-box input:focus {
    transform: scale(1.04);
    background-color: #ff8800;
    color: white;
}

.form-box input:focus::placeholder {
    color: rgba(255, 255, 255, 0);
}

.btnEntrar {
    margin-top: 15%;
    height: 40px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    background-color: #eeeeee;
    transition: all .3s ease;
}

.btnEntrar:hover {
    background-color: #ff8800;
    color: white;
    cursor: pointer;
    transform: scale(1.04);
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25%;
    font-size: 14px;
    color: black;
    font-weight: 700;
}

.infos a {
    color: #ff8800;
    font-weight: 500;
}

@media (max-width: 768px) {

    .login-container {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: white;
        margin-top: 150px;
        box-shadow: 0px 0px 0px 0px;
    }

    .form-box input {
        width: 300px;
    }

    body {
        background-color: white;
        overflow: hidden;
    }

    .login-image img {
        display: none;
    }

    .login-image {
        display: none;
    }

    .login-section h1 {
        font-size: 22px;
    }

    .btnEntrar {
        background-color: #ff8800;
        color: white;
    }

    .infos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 10%;
        font-size: 11.9px;
        gap: 10px
    }
}